.login_box{
	background: #fff;
	position: relative;
}
.login_Bg{
	background:url('../assets/Login_bg.png') no-repeat;
	background-size:100% auto;
	padding:0.36rem 0rem; 
	position: relative;
}
.login_Bg img{
	width: 0.91rem;
	display: block;
	margin: 0 auto;
	height: auto;
	margin-top:0.2rem; 
}
.login_Choice{
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	font-size: 0.28rem;
	margin-top: 0.12rem;
	line-height: 0.3rem;
	height: 0.32rem
}
.login_Choice span{
	width: 0.01rem;
	background: #fff;
	height: 0.28rem
}
.login_new_wi{
	width: 1.4rem;
}
.login_new{
	color: #fff;
}
#login_From_box{
	border-radius: 20px; 
}
.login_From_box1{
	height:5rem;
	background:url('../assets/Login_form_bg1.png') no-repeat;
	background-size:100% 100%;
	margin-top:0.2rem;
}
.login_From_box2{
	height:5rem;
	background:url('../assets/Login_form_bg2.png') no-repeat;
	background-size:100% 100%;
	margin-top:0.2rem;
}
.loginFrom_box{
	padding: 0.2rem 0.65rem 0.38rem;
}
.loginFrom_box li{
	display: flex;
	justify-content: space-between;
	padding: 0.25rem 0;
	border-bottom: 1px solid #eee;
}
.loginFrom_box li div{
	display: flex;
	justify-content: flex-start;
}
.loginFrom_box li input{
	font-size: 0.26rem;
	padding: 0.1rem;
	border: none;
	background:transparent;
	width: 75%;
}
.loginFrom_icon_x{
	width: 0.28rem;
	height: 0.28rem;
	background:url('../assets/Login_icon_close.png') no-repeat;
	background-size:100% 100%;
	margin-top:0.12rem;
	margin-left:0.3rem;
	display: none;
}
.loginFrom_icon_yan1{
	width: 0.28rem;
	height: 0.28rem;
	background:url('../assets/Login_icon_nor.png') no-repeat;
	background-size:100% 100%;
	margin-top:0.12rem;
	display: none;
}
.loginFrom_icon_yan2{
	width: 0.28rem;
	height: 0.28rem;
	background:url('../assets/Login_icon_press.png') no-repeat;
	background-size:100% 100%;
	margin-top:0.12rem;
}
.login_btn{
	font-size: 0.3rem;
	color: #fff;
	background: #fc817c;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 0.33rem 0;
	line-height: 0.3rem;
	border-radius: 0.47rem;
}
.logining_icon{
	width: 0.32rem;
	height: 0.32rem;
	background:url('../assets/login_ing.gif') no-repeat;
	background-size:100% 100%;
	margin-right:0.1rem; 
	display: none;
}
.login_a_box{
	display: flex;
	justify-content: space-between;
	font-size: 0.24rem;
	color: #111;
	padding:0.38rem 0.8rem 0; 
}
.login_a_box a:last-child{
	color: #ff0f0f;
}
.getyam_btn{
	color: #0090ff;
	font-size: 0.24rem;
	line-height: 0.5rem;
}
.wx_btn{
	position: absolute;
	bottom: 1.28rem;
	width: 100%;
	display: flex;
	justify-content: center;
	font-size:0.24rem;
	color: #666; 
	line-height: 0.5rem;
}
.wx_btn img{
	width: 0.52rem;
	height: 0.52rem;
	margin-right:0.15rem 
}
.register_box{
	background:url('../assets/Login_form_bg3.png') no-repeat;
	background-size:100% 100%;
	margin-top:0.12rem; 
	padding: 0 0 0.7rem;
}
.register_text{
	font-size: 0.24rem;
	color: #111;
	text-align: center;
	margin:0.38rem auto 0;  
	width: 80%;
}
.register_text a{
	color: #fc817c;
}

.icon_back{
	width: 0.32rem;
	height: 0.32rem;
	background:url('../assets/Login_icon_x.png') no-repeat;
	background-size:100% 100%;
	position: absolute;
	right: 0.38rem;
	top: 0.36rem;
}