.helpsWrap{
    margin-top: .88rem;
    padding: 0.36rem .36rem;
    padding-bottom: 0rem;
    overflow: hidden;
    font-size: .28rem;
}
.helpsDiv{
    margin-bottom: .5rem;
}
.helpsDiv>p:nth-child(1){
    margin-bottom: .1rem;
}
.helpsDiv>p:nth-child(2){
    color: #999;
}