.ReturnReson{
    height: .88rem;
    line-height: .88rem;
    background: #fff;
    display: flex;
    margin: 0 .36rem;
    font-size: .28rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f5f5f5;
    margin-top: .88rem;
}
.ReturnWrap{
    background: #fff;
}
.ReturnChoice{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ReturnChoice>p{
    margin-right: .2rem;
}
.ReturnText{
    font-size: .28rem;
    background: #fff;
    padding: 0 .36rem;
    padding-top: .3rem;
    padding-bottom: .15rem;
}
.ReturnText>p{
    line-height: .7rem;
    height: .7rem;
}
.ReturnText textarea{
    -webkit-text-size-adjust: none;
    resize:none;
    width: 100%;
    font-size: .24rem;
    border: none;
    height: 2.8rem;
    font-family: "微软雅黑"
}
.ReturnText textarea::-webkit-input-placeholder{
    color:#cacaca;
}
.ReturnImgBox{
    background: #fff;
    padding: 0 .36rem;
    margin-bottom: .2rem;
    padding-top: .15rem;
    padding-bottom: .4rem;
}
.ReturnText span{
    color: #111;
    align-self: flex-end;
}
.ReturnText>div{
    display: flex;
    flex-direction: column;
    padding: .1rem;
}
.ReturnPerson{
    overflow: hidden;
    padding: 0 .36rem;
    font-size: .24rem;
}
.ReturnPersonHead{
    font-size: .28rem;
    line-height: .7rem;
    height: .7rem;
}
.ReturnPersonInput{
    line-height: .7rem;
    height: .7rem;
    border-bottom: 1px solid #eee;
}
.ReturnPersonInput input{
    font-size: .24rem;
   
}
.ReturnImg{
    font-size: .28rem;
    line-height: .7rem;
    height: .7rem;
}
.ReturnBtn{
    background: #ff5e57;
    line-height: 1rem;
    height: 1rem;
    color: #fff;
    font-size: .28rem;
    text-align: center;
    border-radius: .07rem;
    margin-top: .4rem;
    margin-bottom: .4rem;
}
.ReturnQq{
    font-size: .28rem;
    background: #fff;
    line-height: .7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .36rem;
}
.ReturnQq>input{
    font-size: .26rem;
    width: 62%;
    text-align: right;
}